/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
   .main-screen {
      &__flag {
         display: none;
      }
   }
}
@media only screen and (max-width: 1200px) {
   .header {
      &__btn-group {
         text-align: center;
      }
      &__telephone {
         display: none;
         margin-left: 0;
      }
      &__logo {
         margin-bottom: 14px;
      }
      &__infotext {
         margin-top: 14px;
      }
      &__location {
         font-size: 16px;
         margin-bottom: 50px;
         margin-left: 0;
      }
   }
   .header__btn-group-tel {
      display: block;
   }
   .footer {
      &__logo {
         flex-direction: column;
         align-items: flex-start;
         text-align: center;
      }
      .header__telephone {
         display: block;
      }
   }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
   .main-screen {
      &__content-call {
         display: none;
      }
      // &__content-pdf{
      //    transform: translate( 40%, -100%);
      //    top: 300%;
      // }
   }
   .main-screen {
      &__content-pdf {
         bottom: 87px;
         right: 120px;
      }
   }
   .quiz {
      padding: 90px 0px;
      &__title {
         h2 {
            font-size: 25px;
            line-height: 35px;
         }
         h4 {
            margin-top: 24px;
         }
      }
   }
   .msform {
      &__row {
         flex-wrap: wrap;
         justify-content: flex-start;
         align-items: flex-start;
      }
      &__item {
         max-width: 200px;
         margin-top: 40px;
         padding: 0px 10px;
      }
      &__btns {
         text-align: center;
      }
   }
   .main-screen {
      height: 781px;
      overflow: hidden;
      &__bg {
         width: 122%;
         height: 110%;
      }
   }
   .main-screen__content-pdf-body {
      &::before {
         display: none;
      }
   }
   .main-body__btn-block {
      margin-top: 40px;
   }
   .footer {
      &__social {
         margin-top: 25px;
         margin-bottom: 10px;
         align-items: center;
      }
      &__telephone {
         margin-top: 25px;
      }
   }
   .quizform__person-quote {
      margin-top: 0px;
      padding: 25px 0px;
   }
   .quizform__person-quote-lg {
      p {
         font-size: 14px;
         margin-top: 20px;
      }
   }
   .quizform__person {
      margin-top: 60px;
   }
   .quizform__gift {
      margin-top: 0px;
   }
   #msform{
      height: 950px;
   }
}
/**/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
   .main-body {
      &__label {
         font-size: 19px;
         margin-top: 34px;
      }
      &__title {
         font-size: 27px;
         max-width: 400px;
         line-height: 35px;
      }
      &__subtitle {
         font-size: 19px;
         margin-left: 0px;
         max-width: 378px;
      }
      &__btn {
         font-size: 13px;
         padding: 30px 65px 30px 30px !important;
      }
      &__btn-block {
         margin-left: 0;
      }
      &__btn-agreement {
         max-width: 333px;
      }
   }
   .quiz {
      &__title {
         h2 {
            font-size: 22px;
            line-height: 33px;
         }
      }
   }
   .pdf-popup {
      &__body {
         padding: 50px;
      }
   }

   .footer {
      &__logo {
         align-items: start;
         text-align: start;
         margin-bottom: 15px;
      }
   }
   .quizform {
      margin-top: 40px;
   }
}
/**/

@media only screen and (max-width: 586px) {
   .main-screen {
      &__bg {
         width: 140%;
      }
      &__content {
         padding: 0px;
         width: 100%;
         &-btn {
            text-align: center;
         }
      }
      &__content-pdf {
         display: none;
      }
   }
   .features {
   }
   .pdf-form-input {
      width: 90%;
   }
   .pdf-form-btn {
      width: 90%;
   }

   .radiobuttons {
      &__item {
         width: 100%;
      }
   }
   .previous {
      margin-top: 30px;
      margin-bottom: 20px;
   }
   .header__burger-page.active {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
   }
   .header {
      &__burger-page {
         top: 0px;
         left: 0px;
         display: block;
         top: -100%;
         height: 300px;
         width: 100vw;
         position: fixed;
         background: #fff;
         transition: all 0.3s ease 0s;
         z-index: 7;
         &.active {
            transition: all 0.3s ease 0s;
            top: 0;
         }
         &-btn-group {
            text-align: center;
            .accent-btn {
               a {
                  color: #fff;
               }
            }
         }
         &-telephone {
            margin-top: 10px;
            padding-bottom: 40px;
            font-size: 20px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0.42px;
            a {
               color: #252525;
               &:hover {
                  text-decoration: underline;
               }
            }
         }
         &-location {
            position: relative;
            opacity: 0.95;
            font-weight: 300;
            letter-spacing: 0.16px;
            margin-left: 10px;
            border-bottom: 1px dashed $text;
            margin-bottom: 20px;
            &:hover {
               border-bottom: 1px dashed transparent;
            }
            a {
               color: #1b1b1b;
            }
            &::before {
               position: absolute;
               content: "";
               top: 0px;
               left: -20px;
               background: url(../img/icons/point.svg) 0 0 / cover no-repeat;
               width: 13px;
               height: 18px;
            }
         }
      }
      &__logo {
         position: relative;
         z-index: 6;
         max-width: 180px;
         text-align: center;
      }
      &__infotext {
         margin-top: 10px;
         font-size: 12px;
      }
      &__location {
         display: none;
      }
      &__btn-group {
         text-align: center;
         .header__telephone {
            display: none;
         }
      }
      &__btn {
         display: none;
      }
      &__btn-call {
         display: block;
         position: relative;
         z-index: 6;
      }
   }
   body.lock {
      overflow: hidden;
   }
   .header__menu-burger {
      position: absolute;
      right: 30px;
      top: 38px;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 26px;
      height: 20px;
      z-index: 8;
      top: 14px;
   }
   .header__btn-call {
      margin-top: 10px;
   }
   .header__burger span {
      position: absolute;
      background-color: #333;
      left: 0;
      width: 100%;
      height: 3px;
      top: 11px;
      transition: all 0.4s ease 0s;
   }
   .header__burger:before,
   .header__burger:after {
      content: "";
      background-color: #333;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.4s ease 0s;
   }
   .header__burger:before {
      top: 3;
   }
   .header__burger:after {
      bottom: -5px;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger.active:before {
      transform: rotate(45deg);
      top: 17px;
      background: $accent;
   }
   .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 0px;
      background: $accent;
   }
   .main-screen__content-btn {
      text-align: start !important;
   }
   .main-body__textblock {
      margin-top: 40px;
   }
   .footer {
      &__logo {
         text-align: center;
         align-items: center;
      }
      &__license {
         text-align: center;
      }
      &__telephone {
         text-align: center;
      }
   }
   .quizform__person {
      flex-direction: row;
   }
   .quizform__person-block {
      position: relative;
      left: -20px;
      .quizform__person-position {
         font-size: 11px;
      }
      .quizform__person-name {
         font-size: 12px;
      }
   }
   .msform__item {
      padding: 10px 0px;
      margin: 0px;
      img {
      }
   }
}

@media only screen and (max-width: 480px) {
   .main-screen {
      height: 881px;
      &__bg {
         width: 270%;
      }
   }
   .main-body {
      &__textblock {
         margin-top: 70px;
      }
      &__label {
         width: 100%;
         text-align: center;
      }
      &__title {
         text-align: center;
         font-size: 27px;
         font-weight: 600;
      }
      &__subtitle {
         text-align: center;
      }
      &__btn-block {
         text-align: center;
         margin: 40px 0px 0px 0px;
         &::before {
            display: none;
         }
      }
      &__btn {
         padding: 25px !important;
      }
   }
   .main-screen__content-btn {
      text-align: center !important;
      padding: 0px 10px;
   }
   .msform {
      &__item {
         font-size: 13px;
         img {
            width: 140px;
            height: 160px;
         }
      }
   }
   .main-body {
      &__textblock {
      }
      &__label {
         margin-top: 0px;
         width: 100%;
         text-align: center;
         border-radius: 0;
      }
      &__title {
         padding: 0px 40px;
         text-align: center;
         font-size: 28px;
         font-weight: 400;
         max-width: 100%;
      }
      &__subtitle {
         padding: 0px 40px;
         text-align: center;
         max-width: 100%;
         font-size: 17px;
         line-height: 24px;
      }
      &__btn-block {
         margin: 50px 0px 0px 0px;
         &::before {
            display: none;
         }
      }
      &__btn {
         padding: 25px !important;
      }
   }
   .container.main-screen__container {
      padding-right: 0px;
      padding-left: 0px;
   }
   .header__body {
      align-items: flex-start;
   }
}

@media only screen and (max-width: 410px) {
   .msform {
      &__item {
         img {
            width: 120px;
            height: 130px;
         }
      }
   }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 370px) {
   .features {
   }
   .main-body {
      &__label {
         width: 100%;
         text-align: center;
         font-size: 17px;
      }
   }
   .header__burger-page {
      height: 60vh;
   }
   .header__burger-page-telephone {
      padding-bottom: 20px !important;
   }
   .accent-btn__gray {
      padding: 20px;
   }
}
@media only screen and (max-width: 340px) {
   .msform__block {
      margin-left: -30px;
   }
}
//for photo gallery

/**/
